.page-header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr min-content;
}

.page-header__logo {
  margin: 0;

  img {
    display: block;
    max-width: none;
  }
}

.page-header__description {
  display: none;

  @media @desktop {
    display: block;
  }
}

.page-header__nav {
  @media @mobile {
    order: 3;
    margin-right: -20px;
  }
}

.page-header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--color-base-white);

  @media @mobile {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    border-top: 1px solid var(--color-base-secondary);
  }
}

.page-header__link {
  .control-text();

  display: block;
  padding: 20px;

  @media @mobile {
    border-bottom: 1px solid var(--color-base-secondary);
  }
}

.page-header__hamburger {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    margin: auto;
    background-color: var(--color-base-black);
    mask-image: url("../img/sprite.svg#menu");
  }

  &[aria-expanded="false"] {
    & + .page-header__nav-list {
      @media @mobile {
        display: none;
      }
    }
  }
}

.page-header__profile {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.page-header__profile-link {
  .control-text();

  display: flex;
  width: 60px;
  height: 60px;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    margin: auto;
    background-color: currentColor;
  }

  &--profile::before {
    mask-image: url("../img/sprite.svg#profile");
  }

  &--cart::before {
    mask-image: url("../img/sprite.svg#cart");
  }
}

.page-header__profile-title {
  @media @mobile-tablet {
    .visually-hidden();
  }
}
