.promo__card {
  display: grid;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px 20px 60px;
  background-color: var(--color);

  @media @tablet-desktop {
    gap: 20px;
    padding: 60px 80px;
  }

  @media @desktop {
    align-items: center;
    grid-template-columns: 600px 1fr;
    gap: 30px;
    padding: 30px calc(50% - 615px) 84px;
  }
}

.promo__picture {
  display: block;

  @media @tablet {
    order: 2;
    height: 228px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;

  @media @tablet {
    max-width: 476px;
  }
}

.promo__content {
  @media @mobile-tablet {
    text-align: center;
  }
}

.promo__tip {
  margin: 0 0 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  color: var(--color-base-primary);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.promo__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;

  @media @tablet-desktop {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
  }
}

.promo__text {
  margin: 0;

  @media @tablet-desktop {
    font-size: 20px;
    line-height: 32px;
  }
}

.promo__price {
  display: flex;
  align-items: center;
  margin: 20px 0 0;

  @media @mobile-tablet {
    justify-content: center;
  }

  @media @desktop {
    margin: 40px 0 8px;
  }
}

.promo__del {
  margin-right: 6px;
  font-size: 16px;
  line-height: 2;
  color: var(--color-base-primary);
}

.promo__ins {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
}

.promo__button {
  .button-primary();

  margin-left: 20px;
  font-size: 16px;
  line-height: 1.5;
}
