.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo__card {
  box-sizing: border-box;
  padding: 20px 20px 60px;
  background-color: var(--color);

  @media @tablet-desktop {
    padding: 60px 80px;
  }

  @media @desktop {
    padding: 30px calc(50% - 615px) 84px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto 10px;
}

.promo__content {
  text-align: center;
}

.promo__tip {
  margin: 0 0 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  color: var(--color-base-primary);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.promo__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.promo__text {
  margin: 0;
}

.promo__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0;
}

.promo__del {
  margin-right: 6px;
  font-size: 16px;
  line-height: 2;
  color: var(--color-base-primary);
}

.promo__ins {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
}

.promo__button {
  .button-primary();

  margin-left: 20px;
  font-size: 16px;
  line-height: 1.5;
}
