.range__target {
  padding-right: 24px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;

  &--no-js {
    display: none;
  }
}

.range__base {
  position: relative;
  height: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    right: -24px;
    bottom: 11px;
    left: 0;
    background-color: var(--color-light-grey);
    opacity: 0.3;
  }
}

.range__connect,
.range__origin {
  position: absolute;
  width: 100%;
  transform-origin: 0 0;
  transform-style: flat;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

.range__connect {
  top: 10px;
  right: 0;
  height: 4px;
  background-color: var(--color-base-primary);
}

.range__origin {
  top: 0;
  left: 100%;
}

.range__handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-base-white);
  border: 2px solid var(--color-base-primary);
  border-radius: 50%;
  cursor: pointer;

  &::before {
    .transition("background-color");

    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: var(--color-primary-opacity);
    }
  }

  &:active {
    &::before {
      background-color: var(--color-base-primary);
    }
  }
}

.range__touch-area {
  height: 100%;
}

.range--disabled {
  .range__connect {
    background-color: var(--color-base-grey);
  }

  .range__handle {
    border-color: var(--color-base-grey);

    &::before {
      background-color: transparent;
    }
  }
}
