{% extends 'common/layout.njk' %}

{% block main %}
  <section class="section section--bg">
    <h1 class="section__tip">Ошибка 404</h1>
    <p class="section__heading">Страница не найдена</p>
  </section>
{% endblock %}
