{% set promo = [
  {
    id: 'flat-white',
    oldPrice: 295,
    price: 225,
    text: 'Свежесваренный кофе без кофеина из Эфиопии с&nbsp;натуральным фермерским молоком — то, что нужно для&nbsp;расслабления после тяжёлого рабочего дня',
    title: 'Декаф Флэт Уайт'
  },
  {
    id: 'lavender-latte',
    oldPrice: 295,
    price: 225,
    text: 'Свежесваренный кофе без кофеина из Эфиопии с&nbsp;натуральным фермерским молоком — то, что нужно для&nbsp;расслабления после тяжёлого рабочего дня',
    title: 'Декаф Флэт Уайт'
  },
  {
    id: 'espresso',
    oldPrice: 295,
    price: 225,
    text: 'Свежесваренный кофе без кофеина из Эфиопии с&nbsp;натуральным фермерским молоком — то, что нужно для&nbsp;расслабления после тяжёлого рабочего дня',
    title: 'Декаф Флэт Уайт'
  }
] %}

{% set advantages = [
  {
    id: 'speed',
    text: 'Готовый напиток всегда под рукой — просто открой банку',
    title: 'Скорость'
  },
  {
    id: 'convenience',
    text: 'Легко помещается и в карман, и&nbsp;в&nbsp;маленькую сумочку',
    title: 'Удобство'
  },
  {
    id: 'cheerfulness',
    text: 'Сбалансированная доза кофеина даст мощный заряд энергии',
    title: 'Бодрость'
  },
  {
    id: 'eco',
    text: 'Вся упаковка сделана из&nbsp;перерабатываемых материалов',
    title: 'Экологичность'
  }
] %}

{% set milkOptions = [
  {
    checked: true,
    label: 'Неважно',
    value: 'any'
  },
  {
    label: 'Только животное',
    value: 'animal'
  },
  {
    label: 'Только растительное',
    value: 'vegetable'
  },
  {
    disabled: true,
    label: 'Без молока',
    value: 'no'
  }
] %}

{% set countries = [
  {
    checked: true,
    label: 'Бразилия',
    value: 'brazil'
  },
  {
    label: 'Эфиопия',
    value: 'ethiopia'
  },
  {
    label: 'Колумбия',
    value: 'colombia'
  },
  {
    label: 'Коста-Рика',
    value: 'costa_rica'
  },
  {
    disabled: true,
    label: 'Перу',
    value: 'peru'
  }
] %}
