{% set promo = [
  {
    id: 'flat-white',
    oldPrice: 295,
    price: 225,
    text: 'Свежесваренный кофе без кофеина из Эфиопии с&nbsp;натуральным фермерским молоком — то, что нужно для&nbsp;расслабления после тяжёлого рабочего дня',
    title: 'Декаф Флэт Уайт'
  },
  {
    id: 'lavender-latte',
    oldPrice: 295,
    price: 225,
    text: 'Свежесваренный кофе без кофеина из Эфиопии с&nbsp;натуральным фермерским молоком — то, что нужно для&nbsp;расслабления после тяжёлого рабочего дня',
    title: 'Декаф Флэт Уайт'
  },
  {
    id: 'espresso',
    oldPrice: 295,
    price: 225,
    text: 'Свежесваренный кофе без кофеина из Эфиопии с&nbsp;натуральным фермерским молоком — то, что нужно для&nbsp;расслабления после тяжёлого рабочего дня',
    title: 'Декаф Флэт Уайт'
  }
] %}
