{% import 'common/data.njk' as data %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Drink2Go</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="fonts/montserrat-regular.woff2" rel="preload" as="font" crossorigin="anonymous">
    <link href="fonts/montserrat-medium.woff2" rel="preload" as="font" crossorigin="anonymous">
    <link href="fonts/montserrat-bold.woff2" rel="preload" as="font" crossorigin="anonymous">
    <link href="css/style.min.css{{ ver if ver}}" rel="stylesheet">

    <link href="apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link type="image/png" href="favicon-32x32.png" rel="icon" sizes="32x32">
    <link type="image/png" href="favicon-16x16.png" rel="icon" sizes="16x16">
    <link href="site.webmanifest" rel="manifest">
    <link href="safari-pinned-tab.svg" rel="mask-icon" color="#7859cf">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    {% include 'blocks/page-header.njk' %}

    <main>
      {% block main %}Страница в разработке.{% endblock %}
    </main>

    <footer></footer>

    {% if IS_DEV %}
      <script src="js/dev.js" type="module"></script>
      <script src="https://efiand.github.io/pineglade-pp/pineglade-pp.min.js" defer></script>
    {% endif %}
    <script src="js/script.js" type="module"></script>
  </body>
</html>
