<footer class="page-footer">
  <div class="page-footer__header">
    <figure class="page-footer__logo">
      <picture>
        <source media="(min-width: 1440px)" srcset="img/logo.svg">
        <img src="img/logo-tablet.svg" alt="Логотип Dring2Go.">
      </picture>
      <figcaption class="page-footer__description">
        Интернет-магазин кофейных напитков
      </figcaption>
    </figure>

    <ul class="page-footer__socials socials">
      {% for link in [
        {
          id: 'vk',
          title: 'Мы в VK.'
        },
        {
          id: 'pinterest',
          title: 'Мы в Pinterest.'
        },
        {
          id: 'ok',
          title: 'Мы в Одноклассниках.'
        }
      ] %}
        <li class="socials__item">
          <a class="socials__link socials__link--{{ link.id }}" href="#!">
            <span class="visually-hidden">{{ link.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <h2 class="visually-hidden">Ссылки.</h2>
  {% for linkGroup in [
    {
      title: 'Интернет-магазин',
      links: ['Каталог', 'Доставка', 'Способы оплаты', 'О нас']
    },
    {
      title: 'Медиа',
      links: ['Блог', 'Информация для СМИ', 'Правовая информация']
    }
  ] %}
    <div class="page-footer__item">
      <h3 class="page-footer__heading">{{ linkGroup.title }}</h3>

      <ul class="page-footer__links">
        {% for link in linkGroup.links %}
          <li class="page-footer__links-item">
            <a class="page-footer__link" href="#!">{{ link }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

  <div class="page-footer__item">
    <h3 class="page-footer__heading">Контакты</h3>

    <ul class="page-footer__links">
      <li class="page-footer__links-item page-footer__links-item--contact">
        <a class="page-footer__contact-link page-footer__contact-link--address" href="#!">
          Санкт-Петербург, набережная реки Карповки, дом 5
        </a>
      </li>
      <li class="page-footer__links-item page-footer__links-item--contact">
        <a class="page-footer__contact-link page-footer__contact-link--tel" href="tel:+79999999999">
          +7 (999) 999-99-99
        </a>
      </li>
    </ul>
  </div>

  <p class="page-footer__dev">
    Разработано в
    <a class="page-footer__dev-link" href="https://htmlacademy.ru">
      HTML Academy
      <svg class="page-footer__dev-logo" width="12" height="16">
        <use xlink:href="img/htmlacademy.svg#htmlacademy" />
      </svg>
    </a>
  </p>
</footer>
