<ul class="pagination">
  <li class="pagination__item">
    <a class="pagination__link pagination__link--ring" href="#!">
      <span class="pagination__text">Назад</span>
    </a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#!">1</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link pagination__link--current" aria-current="page">2</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#!">3</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link pagination__link--ring" href="#!">
      <span class="pagination__text">Вперёд</span>
    </a>
  </li>
</ul>
