<section class="promo">
  <h2 class="visually-hidden">Новинки.</h2>

  <div class="promo__slider">
    <ul class="promo__list">
      {% for good in data.promo %}
        <li class="promo__card" style="--color: var(--color-{{ good.id }})">
          <picture>
            <source type="image/webp" srcset="img/promo-{{ loop.index }}.webp">
            <img class="promo__image" src="img/promo-{{ loop.index }}.png" alt="Изображение товара «{{ good.title }}».">
          </picture>

          <div class="promo__content">
            <h3 class="promo__title">{{ good.title }}</h3>
            <p class="promo__text">{{ good.text }}</p>

            <p class="promo__price">
              <del class="promo__del">{{ good.oldPrice }}₽</del>
              <ins class="promo__ins">{{ good.price }}₽</ins>

              <a class="promo__button" href="#!">Заказать</a>
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
